<div class="contentpanel">
    <div class="panel-body order-d">
        <form class="form-horizontal form-bordered" ng-submit="submit()" name="passwordForm" novalidate>
            <div class="form-group">
                <label class="col-sm-1 control-label">新密码：</label>
                <div class="col-sm-2">
                    <input type="password" name="password1" class="form-control" ng-model="option.password1"
                           ng-required="true" ng-minlength="6" ng-maxlength="10">
                    <span ng-show="passwordForm.password1.$error.required" class=" error">用户名不能为空</span>
                    <span ng-show="passwordForm.password1.$error.minlength" class=" error">长度需要大于6</span>
                    <span ng-show="passwordForm.password1.$error.maxlength" class=" error">长度需要少于10</span>
                </div>
                <label class="col-sm-1 control-label">确认密码：</label>
                <div class="col-sm-2">
                    <input type="password" name="password2" class="form-control" ng-model="option.password2"
                           ng-required="true" ng-minlength="6" ng-maxlength="10">
                    <span ng-show="passwordForm.password1.$error.required" class=" error">用户名不能为空</span>
                    <span ng-show="passwordForm.password1.$error.minlength" class=" error">长度需要大于6</span>
                    <span ng-show="passwordForm.password1.$error.maxlength" class=" error">长度需要少于10</span>
                </div>
                <input type="submit"/>
            </div>
        </form>
    </div>
</div>
<div class="upload-modal">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
