<div class="contentpanel">
    <div class="panel-body">
        <form class="form-inline" name="searchForm" ng-submit="search()">
            <input class="btn btn-primary btn-xs" type="submit" value="搜索"/>
            <a class="btn btn-primary btn-xs"
               href="#/tabs/promotionsForm" ng-show="typeShow">添加</a>
            <a class="btn btn-primary btn-xs"
               href="/export/promotion?type={{usr}}">导出</a>
        </form>
    </div>
    <div>
        总数：{{total}}
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>司机推广数</th>
            <th>货主推广数</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td>{{$index+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.agg_consignee}}</td>
            <td>{{item.agg_consignor}}</td>
            <td><a href="#/tabs/promotions/{{item.id}}" class="btn btn-primary btn-xs">查看</a>
                <button class="btn btn-primary btn-xs" ng-click="frozen(item)">{{item.valid|activateFilter}}</button>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="panel-footer">
        <pagination total-items="total" items-per-page="15" max-size="7" ng-model="currentPage"
                    ng-change="search()"></pagination>
    </div>
</div>
<script type="text/ng-template" id="modal.html">
    <div class="modal-header">
        <h3 class="modal-title">是否{{item.valid|reverseActivateFilter}}{{item.name}}</h3>
    </div>
    <div class="modal-footer ng-scope">
        <button class="btn btn-primary" ng-click="ok()">确定</button>
        <button class="btn btn-warning" ng-click="cancel()">取消</button>
    </div>
</script>
