<div class="contentpanel">
    <div class="panel-body order-d">
        <form class="form-horizontal form-bordered" ng-submit="submit()" name="orderForm" novalidate>
            <div class="form-group">
                <label class="col-sm-1 control-label">姓名</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-model="item.name">
                </div>
                <label class="col-sm-1 control-label">生成日期</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-value="item.created_time">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">手机号</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="mobile" ng-model="item.mobile" ng-minlength="11" ng-maxlength="11">
                    <span ng-show="orderForm.mobile.$error.maxlength" class="error">手机号为11位</span>
                    <span ng-show="orderForm.mobile.$error.minlength" class="error">手机号为11位</span>
                </div>
                <label class="col-sm-1 control-label">岗位</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="position" ng-model="item.position">
                    <span ng-show="orderForm.position.$error.maxlength" class="error">不能超过10个字</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">编号</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="code" ng-model="item.code" ng-minlength="4" ng-maxlength="4">
                    <span ng-show="orderForm.code.$error.maxlength" class="error">编号为4个字</span>
                    <span ng-show="orderForm.code.$error.minlength" class="error">编号为4个字</span>
                </div>
                <label class="col-sm-1 control-label">推广码</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" ng-value="item.promotion_code" readonly>
                </div>
            </div>
            <div class="ml100 mt20">
                <button class="btn btn-primary" ng-click="update()" ng-show="typeShow">更新</button>
                <a href="#/tabs/promotions" class="btn btn-default">返回</a>
            </div>
        </form>
    </div>
</div>
<div class="upload-modal">
    <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>

